In [1]:
# Loading the csv file to pandas dataframe
import pandas as pd
df=pd.read_excel(r'C:\Users\hbhat\OneDrive\Desktop\VScode\Capstoneproject3\Datset\hyderabad_cars.xlsx')

In [2]:
# Data processing of unstructured data into structured data by splitting data in the new car detail column into specific columns
df2 = df.copy()
df2['new_car_detail'] = df2['new_car_detail'].apply(lambda x : dict(eval(x)))
new_car_detail = df2['new_car_detail'].apply(pd.Series)
print("Length of new_car_detail", len(new_car_detail))
new_car_detail

Length of new_car_detail 1483

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,7746,1.0 TSI Highline Plus AT,₹ 10.44 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,1502,Era Plus,₹ 2.60 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,9153,S BSVI,₹ 9.55 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,3970,1.2 Alpha,₹ 6.71 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,8074,LX 4-Str Hard Top AT BSVI,₹ 19 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,₹ 7 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,5007,3.0 Litre S Premium Luxury,₹ 20 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,250,520d Luxury Line,₹ 35 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,₹ 8.50 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,₹ 15 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [3]:
new_car_detail.isnull().sum() # check for null records

it                     0
ft                     0
bt                     0
km                     0
transmission           0
ownerNo                0
owner                  0
oem                    0
model                  0
modelYear              0
centralVariantId       0
variantName            0
price                  0
priceActual            0
priceSaving            0
priceFixedText      1483
trendingText           0
dtype: int64

In [4]:
# Data processing of unstructured data into structured data by splitting data in the new car overview column into specific columns

df2['new_car_overview'] = df2['new_car_overview'].apply(lambda x : dict(eval(x)))
df4 = df2['new_car_overview'].apply(pd.Series)

df5 = df4.explode('top')
flattened_info =df5['top'].apply(pd.Series)

# Restructure the DataFrame to have each key as a column
car_overview = flattened_info.pivot_table(index=flattened_info.groupby('key').cumcount(), 
                            columns='key', 
                            values='value', 
                            aggfunc='first')


print("Len of result", len(car_overview))
car_overview

Len of result 1483

key,Engine Displacement,Fuel Type,Insurance Validity,Kms Driven,Ownership,RTO,Registration Year,Seats,Transmission,Year of Manufacture
0,999 cc,Petrol,Third Party insurance,"20,000 Kms",First Owner,TS04,2022,5 Seats,Automatic,2022
1,814 cc,Petrol,Third Party insurance,"85,582 Kms",Second Owner,TS09,Oct 2014,5 Seats,Manual,2014
2,1197 cc,Petrol,Third Party insurance,"10,000 Kms",First Owner,TS07,2023,5 Seats,Manual,2023
3,1197 cc,Petrol,Third Party insurance,"50,750 Kms",First Owner,TS09,Mar 2017,5 Seats,Manual,2017
4,1997 cc,Petrol,Third Party insurance,"10,000 Kms",First Owner,TS07,2022,4 Seats,Automatic,2022
...,...,...,...,...,...,...,...,...,...,...
1478,2993 cc,Diesel,Third Party insurance,"50,000 Kms",First Owner,NaN,NaN,7 Seats,Manual,NaN
1479,1995 cc,Diesel,Third Party insurance,"1,20,000 Kms",First Owner,NaN,NaN,5 Seats,Automatic,NaN
1480,1497 cc,Diesel,Third Party insurance,"50,000 Kms",Third Owner,NaN,NaN,5 Seats,Automatic,NaN
1481,2494 cc,Diesel,Third Party insurance,"1,00,000 Kms",Second Owner,NaN,NaN,5 Seats,Automatic,NaN
1482,NaN,Diesel,Third Party insurance,NaN,First Owner,NaN,NaN,7 Seats,Manual,NaN

In [5]:
df2

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1478,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1479,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1480,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1481,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1482,"{'it': 0, 'ft': 'Diesel', 'bt': 'MUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [6]:
# splitting data in the new car Specifications column into specific columns

import json
df2 = df.copy() 

# list to hold the feature lists
feature_lists = []
data_list = []

# Iterate through each record in the specified column containing the JSON data
for json_str in df2['new_car_feature']:

    json_str = json_str.replace("'",'"')
    # Parse the JSON
    data = json.loads(json_str)

    data_list = []
    for i in data['data']:
        data_list += i['list']
    
    # Extract feature values
   
    features = [item['value'] for item in data_list]
    
    # Append the feature list to the main list
    feature_lists.append(features)

# Create a new DataFrame with the extracted features
df_features = pd.DataFrame({'Features': feature_lists})

# Display the new DataFrame
print(df_features)

                                               Features
0     [Power Steering, Power Windows Front, Power Wi...
1     [Power Steering, Power Windows Front, Remote T...
2     [Power Steering, Power Windows Front, Power Wi...
3     [Power Steering, Power Windows Front, Power Wi...
4     [Power Steering, Power Windows Front, Low Fuel...
...                                                 ...
1478  [Power Steering, Power Windows Front, Power Wi...
1479  [Power Steering, Power Windows Front, Power Wi...
1480  [Power Steering, Power Windows Front, Power Wi...
1481  [Power Steering, Power Windows Front, Power Wi...
1482  [Power Steering, Power Windows Front, Power Wi...

[1483 rows x 1 columns]

In [7]:
# Splitting data in the new car features column into specific columns

import json
df2 = df.copy() 

# list to hold the feature lists
specifications_list = []
data_list = []

# Iterate through each record in the specified column containing the JSON data
for json_str in df2['new_car_specs']:

    json_str = json_str.replace("'",'"')
    # Parse the JSON
    data = json.loads(json_str)

    # Add Top Specs to data_list
    data_list += data['top']

    for i in data['data']:
        data_list += i['list']
    
    # Extract feature values
    specifications = {item['key']: item['value'] for item in data_list}
    
    # Append the feature list to the main list
    specifications_list.append(specifications)

# Step 4: Create a new DataFrame with the extracted features
df_specifications = pd.DataFrame(specifications_list)

# Display the new DataFrame
print(df_specifications)

         Mileage   Engine               Max Power   Torque Wheel Size Seats  \
0     16.47 kmpl   999 CC  108.62bhp@5000-5500rpm    175nm        R16     5
1      21.1 kmpl   814 CC         55.2bhp@5500rpm   74.5Nm        R16     5
2      21.1 kmpl  1197 CC        81.80bhp@6000rpm  113.8Nm        R16     5
3      21.4 kmpl  1197 CC         83.1bhp@6000rpm    115Nm         16     5
4      21.4 kmpl  1997 CC          150bhp@5000rpm    320Nm         18     4
...          ...      ...                     ...      ...        ...   ...
1478   15.1 kmpl  2179 CC          140bhp@3750rpm    330Nm         17     7
1479  14.74 kmpl  2993 CC        270.9bhp@4000rpm    600Nm         20     5
1480  20.37 kmpl  1995 CC       187.74bhp@4000rpm    400Nm        R18     5
1481   21.5 kmpl  1497 CC        108.5bhp@3750rpm    260Nm        R18     5
1482  12.99 kmpl  2494 CC        100.6bhp@3600rpm    200Nm         15     7

       Color                               Engine Type Displacement  \
0     Others                           1.0L TSI Petrol          999
1        Red                             Petrol Engine          814
2     Others                          1.2 Kappa Petrol         1197
3        Red                         VVT Petrol Engine         1197
4     Others                 mStallion 150 TGDi Engine         1997
...      ...                                       ...          ...
1478  Others                       mHawk Diesel Engine         2179
1479    Blue                           Diesel S Engine         2993
1480    Blue  TwinPower Turbo Inline 4 Cylinder Engine         1995
1481  Others        Revotorq, 1.5L Turbocharged engine         1497
1482  Others                     2KD-FTV Diesel Engine         2494

              Max Torque  ...  Turning Radius     Front Brake Type  \
0     175nm@1750-4000rpm  ...             4.9                 Disc
1         74.5Nm@4000rpm  ...      4.6 metres                 Disc
2        113.8Nm@4000rpm  ...      4.6 metres                 Disc
3          115Nm@4000rpm  ...      4.9 meters                 Disc
4     320Nm@1500-3000rpm  ...      4.9 meters                 Disc
...                  ...  ...             ...                  ...
1478  330Nm@1600-2800rpm  ...      5.6 metres  Disc & Caliper Type
1479       600Nm@2000rpm  ...     5.75 metres                 Disc
1480  400Nm@1750-2500rpm  ...             5.6      Ventilated Disc
1481  260Nm@1500-2750rpm  ...            5.1m                 Disc
1482  200Nm@1200-3600rpm  ...      5.4 metres      Ventilated Disc

          Rear Brake Type              Tyre Type Alloy Wheel Size  \
0                    Drum        Tubeless,Radial              R16
1                    Drum               Tubeless              R16
2                    Drum       Tubeless, Radial              R16
3                    Drum        Tubeless,Radial               16
4                    Drum       Radial, Tubeless               18
...                   ...                    ...              ...
1478  Disc & Caliper Type       Tubeless,Radial                17
1479                 Disc        Tubeless,Radial               20
1480      Ventilated Disc      Tubeless, Runflat              R18
1481                 Drum  Tubeless Radial Tyres              R18
1482                 Drum        Tubeless,Radial               15

     No Door Numbers Cargo Volumn    Top Speed   Acceleration  \
0                  5          280          NaN            NaN
1                  5   215-litres     135 Kmph     19 Seconds
2                  5   215-litres     135 Kmph     19 Seconds
3                  5   339-litres     180 Kmph  12.36 seconds
4                  3   339-litres     180 Kmph  12.36 seconds
...              ...          ...          ...            ...
1478               5          485     175 kmph   12.5 Seconds
1479               4   540-litres     250 Kmph    6.4 Seconds
1480               4   520-litres      235kmph            7.5
1481               5          350  154.19 kmph  13.25 Seconds
1482               5   300-litres     155 Kmph   13.3 Seconds

     Ground Clearance Unladen
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
1478                    145mm
1479                    145mm
1480                    145mm
1481                   209 mm
1482                   209 mm

[1483 rows x 40 columns]

In [8]:
# Adding up all data columns to singe dataframe
Hyderabad_cars = pd.concat([new_car_detail,car_overview,df_features,df_specifications],axis=1)
col_list =Hyderabad_cars.columns.to_list()
Hyderabad_cars.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText',
       'Engine Displacement', 'Fuel Type', 'Insurance Validity', 'Kms Driven',
       'Ownership', 'RTO', 'Registration Year', 'Seats', 'Transmission',
       'Year of Manufacture', 'Features', 'Mileage', 'Engine', 'Max Power',
       'Torque', 'Wheel Size', 'Seats', 'Color', 'Engine Type', 'Displacement',
       'Max Torque', 'No of Cylinder', 'Values per Cylinder',
       'Value Configuration', 'Fuel Suppy System', 'BoreX Stroke',
       'Compression Ratio', 'Turbo Charger', 'Super Charger', 'Length',
       'Width', 'Height', 'Wheel Base', 'Front Tread', 'Rear Tread',
       'Kerb Weight', 'Gross Weight', 'Gear Box', 'Drive Type',
       'Seating Capacity', 'Steering Type', 'Turning Radius',
       'Front Brake Type', 'Rear Brake Type', 'Tyre Type', 'Alloy Wheel Size',
       'No Door Numbers', 'Cargo Volumn', 'Top Speed', 'Acceleration',
       'Ground Clearance Unladen'],
      dtype='object')

In [9]:
Hyderabad_cars.to_csv(r'C:\Users\hbhat\OneDrive\Desktop\VScode\Capstoneproject3\Hyderabad.csv',encoding='utf-8',index=False)